RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Reescribe cualquier petición que no sea un archivo o directorio existente
# para que use el script PHP correspondiente.
RewriteRule ^(.*?)/?$ $1.php [L]